name: CI

on:
  # Will run on all PR's and pushes to master
  push:
    branches: [main]
  pull_request:

jobs:
  CodeQuality:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v2       
        with:
          python-version: 3.10.12

      - name: Install SCons
        run: python -m pip install scons
      
      - name: Install Unity
        run: |
          git clone https://github.com/ThrowTheSwitch/Unity.git
          git pull

      - name: Running build generation and Unit tests
        run: |
          scons build
          scons test
          for log_file in build/unity_logs/*.txt; do
            if grep -q 'FAIL' "$log_file"; then
              echo "::error::Tests failed in $log_file. Check unity logs for details."
              exit 1
            fi
            if grep -q 'IGNORE' "$log_file"; then
              echo "::error::Tests ignored in $log_file. Check unity logs for details."
            fi
          done

      - name: Running formatting check
        run: |
          scons format
          if [[ $(git diff --name-only) ]] ; then 
              echo -e "\n unformatted files:";
              git diff --name-only;
              exit 1;
            fi

      - name: Running static analysis
        run: scons lint
